.search {
    display: flex;
    align-items: center;
    padding: 0.2rem 0rem 0.2rem 1rem;
    background-color: #f3f3f5;
    border-radius: 0.25rem;
    gap:0.2rem;
}

.search-input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}


.search:focus-within {
  border: 1px solid grey;
  box-shadow: 0 0 0 3px rgba(30, 30, 30, 0.4);
}