.search {
    display: flex;
    align-items: center;
    padding: 0.2rem 0rem 0.2rem 1rem;
    background-color: #f3f3f5;
    border-radius: 0.25rem;
    gap:0.2rem;
    width: 100%;
}

.search-input {
  border: none;
  background: transparent;
  padding: 0.45rem 0.5rem;
  width: 100%;
  font-size: 0.95rem;
}

.search-input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}


.search:focus-within {
  border: 1px solid grey;
  box-shadow: 0 0 0 3px rgba(30, 30, 30, 0.4);
}