/* CHAT PANEL */
.chat-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem;
  border-bottom: 1px solid #eee;
}

.chat-name {
  font-weight: 600;
}

.chat-status {
  font-size: 0.85rem;
  color: #22b8a4;
}

.chat-menu {
  margin-left: auto;
  cursor: pointer;
}

.chat-messages {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  background-color: #f9fafb;
}

.msg {
  padding: 0.8rem 1rem;
  background: #f7f7f7;
  margin-bottom: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  max-width: 60%;
  position: relative;
}

.msg.left {
  background: #ffffff;
  color: black;
  margin-right: auto;
  width: fit-content;
}

.msg.right {
  background: #22b8a4;
  color: white;
  margin-left: auto;
  align-self: flex-start;
  width: fit-content;
}

.time {
  font-size: 0.75rem;
  margin-top: 5px;
  opacity: 0.7;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.chat-input input {
  width: 100%;
  padding: 0.9rem;
  border: none;
  border-radius: 10px;
  background: #f3f3f5;
}