input {
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #F3F3F5;
    font-size: 1rem;
    transition: box-shadow 0.2s ease;
    width: 100%;
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 1px rgba(148, 154, 147, 0.8);
}
